[program:{{ host }}]
process_name = lekum
command = /home/alex/sites/{{ host }}/virtualenv/bin/gunicorn superlists.wsgi --bind unix:/tmp/{{ host }}.socket
autostart = true
autorestart = true
directory = /home/alex/sites/{{ host }}/source
user = alex
