server {
    listen 80;
    server_name {{ app_url }};

    location / {
        proxy_pass http://unix:/tmp/{{ host }}.socket;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location /static {
        alias /home/{{ app_user }}/sites/{{ app_url }}/static;
    }
}
